@model IEnumerable<AllMixedUp.Models.GlazeListItem>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New Glaze Recipe", "Create")
</p>
<table class="table">

    <th>
        @Html.DisplayNameFor(model => model.GlazeName)
    </th>


    @foreach (var item in Model)
    {
        <tr class="flex flex-row flex-grow-1 justify-content-between">
            <td>
                @Html.ActionLink(item.GlazeName, "Details", new { id = item.GlazeID })
            </td>

            <td class=" btn-default">
                @Html.ActionLink("Delete", "Delete", new { id = item.GlazeID }, new { @class = "margin-right" })
            </td>
        </tr>
    }

</table>

